In [1]:
# Dependencies
import pandas as pd
import numpy as np
import os
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

In [2]:
# Reading csv files

data1 = pd.read_csv('Resources/JC-201901-citibike-tripdata.csv')
data2 = pd.read_csv('Resources/JC-201902-citibike-tripdata.csv')
data3 = pd.read_csv('Resources/JC-201903-citibike-tripdata.csv')
data4 = pd.read_csv('Resources/JC-201904-citibike-tripdata.csv')
data5 = pd.read_csv('Resources/JC-201905-citibike-tripdata.csv')
data6 = pd.read_csv('Resources/JC-201906-citibike-tripdata.csv')
data7 = pd.read_csv('Resources/JC-201907-citibike-tripdata.csv')
data8 = pd.read_csv('Resources/JC-201908-citibike-tripdata.csv')
data9 = pd.read_csv('Resources/JC-201909-citibike-tripdata.csv')
data10 = pd.read_csv('Resources/JC-201910-citibike-tripdata.csv')
data11 = pd.read_csv('Resources/JC-201911-citibike-tripdata.csv')
data12 = pd.read_csv('Resources/JC-201912-citibike-tripdata.csv')

data01 = pd.read_csv('Resources/JC-202001-citibike-tripdata.csv')
data02 = pd.read_csv('Resources/JC-202002-citibike-tripdata.csv')
data03 = pd.read_csv('Resources/JC-202003-citibike-tripdata.csv')
data04 = pd.read_csv('Resources/JC-202004-citibike-tripdata.csv')
data05 = pd.read_csv('Resources/JC-202005-citibike-tripdata.csv')
data06 = pd.read_csv('Resources/JC-202006-citibike-tripdata.csv')
data07 = pd.read_csv('Resources/JC-202007-citibike-tripdata.csv')
data08 = pd.read_csv('Resources/JC-202008-citibike-tripdata.csv')
data09 = pd.read_csv('Resources/JC-202009-citibike-tripdata.csv')
data010 = pd.read_csv('Resources/JC-202010-citibike-tripdata.csv')
data011 = pd.read_csv('Resources/JC-202011-citibike-tripdata.csv')
data012 = pd.read_csv('Resources/JC-202012-citibike-tripdata.csv')
# data_1 = pd.read_csv('Resources/JC-202101-citibike-tripdata.csv')

# data_2 = pd.read_csv('Resources/JC-202102-citibike-tripdata.csv')
# data_3 = pd.read_csv('Resources/JC-202103-citibike-tripdata.csv')
# data_4 = pd.read_csv('Resources/JC-202104-citibike-tripdata.csv')
# data_5 = pd.read_csv('Resources/JC-202105-citibike-tripdata.csv')
# data_6 = pd.read_csv('Resources/JC-202106-citibike-tripdata.csv')
# data_7 = pd.read_csv('Resources/JC-202107-citibike-tripdata.csv')
# data_8 = pd.read_csv('Resources/JC-202108-citibike-tripdata.csv')
# data_9 = pd.read_csv('Resources/JC-202109-citibike-tripdata.csv')
# data_10 = pd.read_csv('Resources/JC-202110-citibike-tripdata.csv')
# data_11= pd.read_csv('Resources/JC-202111-citibike-tripdata.csv')
# data_12= pd.read_csv('Resources/JC-202112-citibike-tripdata.csv')

In [4]:
frames2019 = [data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12]
frames2020 = [data01,data02,data03,data04,data05,data06,data07,data08,data09,data010,data011,data012]
# frames2021 = [data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,data_11,data_12]

result2019 = pd.concat(frames2019)
result2020 = pd.concat(frames2020)
# result2021 = pd.concat(frames2021)

In [5]:
result2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [6]:
result2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [7]:
# result2021.head()

In [8]:
result2020["usertype"] = result2020["usertype"].str.replace('Customer','casual')
result2020["usertype"] = result2020["usertype"].str.replace('Subscriber','member')
result2019["usertype"] = result2019["usertype"].str.replace('Customer','casual')
result2019["usertype"] = result2019["usertype"].str.replace('Subscriber','member')

In [9]:
result2020.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,member,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,member,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,casual,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,casual,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,member,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,casual,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,casual,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,casual,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,casual,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,member,1982,1

In [10]:
result2019.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,member,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,member,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,member,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,casual,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,casual,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,casual,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,member,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,member,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,member,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,member,1988,1

In [11]:
# result2021.columns

In [12]:
# result2021.columns = ['rideid', 'rideable type', 'starttime', 'stoptime',
#        'start station name', 'start station id', 'end station name',
#        'end station id', 'start station latitude', 'start station longitude', 'end station latitude', 'end station longitude',
#        'usertype']

In [13]:
# result2021.dropna()

In [14]:
# result2021.info()

In [15]:
# result2021['stoptime'] = pd.to_datetime(result2021['stoptime'])

In [16]:
# result2021['starttime'] = pd.to_datetime(result2021['starttime'])

In [17]:
# result2021['tripduration'] = result2021['stoptime'] - result2021['starttime']

In [18]:
# result2021['tripduration'] = result2021['tripduration']/np.timedelta64(1,'s')

In [19]:
# result2021['tripduration'] = result2021['tripduration'].astype(int)

In [20]:
# result2021.head()

In [21]:
# frames = [result2020, result2021]
frames1 = [result2019, result2020]
# frames2 = [result2019, result2020, result2021]

In [22]:
# results_20_21 = pd.concat(frames)
# results_19_20 = pd.concat(frames1)
results_all = pd.concat(frames1)

In [23]:
# results_20_21.to_csv('rides20_21.csv', index=False)

In [24]:
# results_19_20.to_csv('rides19_20.csv', index=False)

In [25]:
# result2020.to_csv('rides_2020.csv', index=False)

In [26]:
# result2019.to_csv('rides_2019.csv', index=False)

In [27]:
# result2021.to_csv('rides_2021.csv', index=False)

In [28]:
results_all.to_csv('rides.csv', index=False)